{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 外部のCSSファイルを読み込む -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}
  <title>{% block title %} {% endblock %} - Pseudo Youtube </title>
  {% endblock %}
</head>
<body>
  <header>
    <nav class="nav-bar"> <!-- クラスを追加 -->
      <a href="" class="logo">Pseudo YouTube</a> <!-- クラスとロゴを追加 -->
      <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      <ul class="nav-links"> <!-- クラスを追加 -->
        <li><a href="">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="videos-form/">Upload</a></li>
          <li><a href="">Logout</a></li>
        {% else %}
          <li><a href="">Login</a></li>
          <li><a href="">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
